<html>
<head><title>My form!</title>
    <style>
        body{
            background-color:#af4dfa;
            text-align: center;
        }
        h1{
            text-align: center;
            font-size:75px;
            color:blue;
            font-style: Helvetica;
        }
        form{
            text-align: center;
            font-size:50px;
        }
        button{
            color:red;
        }
        div{
            font-size: 50px;
            color:#32fa35;
            font-style:Arial;
        }
    </style>
</head>
<body>
    <h1>{% block heading %}{% endblock %}</h1>
    <div>{% block body %}{% endblock %}</div>
</body>
</html>
